.main {
  width: 100;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

.main h1 {
  text-align: center;
  color: #555;
  font-size: 35px;
}

div.sq {
  border: 5px solid white;
  border-top: 5px solid green;
  float: left;
  width: 180px;
  height: 180px;
  transform: rotate(180deg);
}

.sq:hover {
  background-color: #eafff0;
  cursor: pointer;
}

.game-over {
  width: 200px;
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

#disk-0, #disk-1, #disk-2 {
  height: 50px;
  margin: 8px auto;
  border-radius: 25px;
}

#disk-0 {
  background-color: #069;
  width: 50px;
}

#disk-1 {
  background-color: steelblue;
  width: 115px;
}

#disk-2 {
  background-color: lightsteelblue;
  width: 180px;
}
